{% extends "base.html" %} {% block title %}Home{% endblock %} 

<link rel="stylesheet" href=/website/static/main.css"/>


{% block content%}
<body>

	<div class="test">test</div>

	<div class="movie-list-container">
		<h3 class="movie-list-title">Top rated films</h3>
		<div class="movie-list-wrapper">
			<div class="movie-list">
				<div class="movie">
					<img class="movie-img" src="https://cdn.cinematerial.com/p/297x/npyfi8vj/john-wick-chapter-4-swiss-movie-poster-md.jpg?v=1678582234" alt="">
				</div>
				<div class="Movie">
					<img class="movie-img" src="https://cdn.cinematerial.com/p/297x/81na4yiw/guardians-of-the-galaxy-vol-3-movie-poster-md.jpg?v=1676246373" alt="">
				</div>
				<div class="Movie">
					<img class="movie-img" src="https://cdn.cinematerial.com/p/297x/udlle00i/the-super-mario-bros-movie-movie-poster-md.jpg?v=1675498892" alt="">
				</div>
				<div class="Movie">
					<img class="movie-img" src="https://cdn.cinematerial.com/p/297x/hsfx30fn/oppenheimer-movie-poster-md.jpg?v=1658410764" alt="">
				</div>
				<div class="Movie">
					<img class="movie-img" src="https://cdn.cinematerial.com/p/297x/xxudlmk5/evil-dead-rise-german-movie-poster-md.jpg?v=1680209274" alt="">
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}
