<!doctype html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/website/static/style.css" type="text/css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Movie Design</title>
</head>

<body>
    <div class="navbar">
        <div class="navbar-container">
            <div class="logo-container">
                <h1 class="logo">Movies</h1>
            </div>
            <div class="menu-container">
                <ul class="menu-list">
                    <li class="menu-list-item active" href="/">Home</li>
                    <li class="menu-list-item">New releases</li>
                    <li class="menu-list-item">Popular</li>
                    <li class="menu-list-item">Trends</li>
                </ul>
            </div>
            <div class="logout-container">
                <ul class="menu-list">
                    <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
                </ul>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <i class="left-menu-icon fas fa-search"></i>
        <i class="left-menu-icon fas fa-home"></i>
        <i class="left-menu-icon fas fa-users"></i>
        <i class="left-menu-icon fas fa-bookmark"></i>
        <i class="left-menu-icon fas fa-tv"></i>
        <i class="left-menu-icon fas fa-hourglass-start"></i>
        <i class="left-menu-icon fas fa-shopping-cart"></i>
    </div>
    <div class="container">
        <div class="content-container">
            <div class="featured-content"
                style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('');">
                <img class="featured-title" src="" alt="">
                <p class="featured-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto illo dolor
                    deserunt nam assumenda ipsa eligendi dolore, ipsum id fugiat quo enim impedit, laboriosam omnis
                    minima voluptatibus incidunt. Accusamus, provident.</p>
                <button class="featured-button">WATCH TRAILER</button>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">Top rated films</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="https://cdn.cinematerial.com/p/297x/npyfi8vj/john-wick-chapter-4-swiss-movie-poster-md.jpg?v=1678582234" alt="">
                            <button class="movie-list-item-button">Details</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="https://cdn.cinematerial.com/p/297x/81na4yiw/guardians-of-the-galaxy-vol-3-movie-poster-md.jpg?v=1676246373" alt="">
                            <button class="movie-list-item-button">Details</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="https://cdn.cinematerial.com/p/297x/udlle00i/the-super-mario-bros-movie-movie-poster-md.jpg?v=1675498892" alt="">
                            <button class="movie-list-item-button">Details</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="https://cdn.cinematerial.com/p/297x/hsfx30fn/oppenheimer-movie-poster-md.jpg?v=1658410764" alt="">
                            <button class="movie-list-item-button">Details</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="https://cdn.cinematerial.com/p/297x/xxudlmk5/evil-dead-rise-german-movie-poster-md.jpg?v=1680209274" alt="">
                            <button class="movie-list-item-button">Details</button>
                        </div>
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">Recommended</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="https://cdn.cinematerial.com/p/297x/npyfi8vj/john-wick-chapter-4-swiss-movie-poster-md.jpg?v=1678582234" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="https://cdn.cinematerial.com/p/297x/81na4yiw/guardians-of-the-galaxy-vol-3-movie-poster-md.jpg?v=1676246373" alt="">
                            <span class="movie-list-item-title">Star Wars</span>
                            <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="https://cdn.cinematerial.com/p/297x/udlle00i/the-super-mario-bros-movie-movie-poster-md.jpg?v=1675498892" alt="">
                            <span class="movie-list-item-title">Storm</span>
                            <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="https://cdn.cinematerial.com/p/297x/hsfx30fn/oppenheimer-movie-poster-md.jpg?v=1658410764" alt="">
                            <span class="movie-list-item-title">1917</span>
                            <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="https://cdn.cinematerial.com/p/297x/xxudlmk5/evil-dead-rise-german-movie-poster-md.jpg?v=1680209274" alt="">
                            <span class="movie-list-item-title">Avengers</span>
                            <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>
        </div>
    </div>
</body>

</html>