
.movie-list-container {
  background-color:#151515;
  min-height: calc(100vh - 50px);
  padding: 20px;
  color: #ffffff;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
}

.movie {
  margin-right: 30px;
}

.movie-img {
  width: 170px;
  height: 250px;
  object-fit: cover;
}

