* {
    margin: 0;
  }
*{
  font-family: "Poppins", sans-serif;
}

  .menu-list {
    display: flex;
    list-style: none;
  }
  
  .menu-list-item {
    margin-right: 30px;
  }
  
  .menu-list-item.active {
    font-weight: bold;
  }
  
  .toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  
  .toggle-icon {
    color: goldenrod;
  }
  
  .toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
  }
   
  .container{
    margin: 0;
    padding: 0;
    background-color: #151515;
    display: flex;
  }

  .base-container {
    background-color: #4dbf00;
    min-height: calc(100vh);
    color: white;
  }

  .content-container {
    margin-left: 0px;
    background-color: #151515;
    min-height: calc(100vh);
    color: #BAB8BA;
  }
  /*-----------------------------------*\
   * #Featured (first favorite film)
  \*-----------------------------------*/

  .featured-content {
    height: 40vh;
    padding: 50px;
    padding-left: 50px;
    background-size: cover;
   }
   .featured-subtitle {
    color: hsl(57, 97%, 45%);
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
   }
  .featured-title {
    font-size: 46px;
    font-weight: bold;
    color: azure;
  }
  
  .featured-desc {
    font-size: 16px;
    color: lightgray;
    width: 40vh;
    font-weight: 700;
    margin: 20px 0;
  }
  
  .featured-button {
    width: 215px;
    color: hsl(0, 100%, 100%);
    background-color: #151515;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 30px;
    border: 2px solid hsl(57, 97%, 45%);
    border-radius: 50px;
    transition: 0.15s ease;
  }
  .featured-button:is(:hover, :focus) {
    background: hsl(57, 97%, 45%);
    color: #151515;
  }
  /*-----------------------------------*\
   * #Movie meta (date, duration,..)
  \*-----------------------------------*/
  .badge {
    color: hsl(0, 100%, 100%);
    font-size: 11px;
    font-weight: 700;
    border: 2px solid transparent;
    padding: 2px 10px;
  }
  
  .badge-fill {
    background: hsl(0, 100%, 100%);
    color: hsl(228, 13%, 15%);
  }
  
  .badge-outline { 
    border-color: hsl(0, 100%, 100%); 
  }
  
  .meta-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 15px 25px;
    margin-bottom: 50px;
  }
  
  .badge-wrapper,
  .ganre-wrapper,
  .date-time {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px 10px;
  }
  
  .ganre-wrapper > a {
    color: hsl(0, 7%, 88%);
    font-size: 14px;
    font-weight: 500;
    transition: 0.15 ease;
  }
  
  .ganre-wrapper > a:is(:hover, :focus) { color: hsl(57, 97%, 45%); }
  
  .date-time { gap: 15px; }
  
  .date-time > div {
    display: flex;
    align-items: center;
    gap: 5px;
    color: hsl(0, 7%, 88%);
    font-size: 14px;
    font-weight: 500;
  }
  
  .date-time ion-icon {
    --ionicon-stroke-width: 50px;
    color: hsl(57, 97%, 45%);
  }


  /*-----------------------------------*\
   * #Movie list
  \*-----------------------------------*/
  .movie-list-container {
    padding-left: 50px;
  }
  
  .movie-list-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .movie-list {
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
  }
  .movie-list-title{
    color:hsla(0, 0%, 100%, 0.8);
    font-weight: bold;
    font-size: 30px;
  }
  .movie-list-item {
    margin-right: 30px;
    position: relative;
  }
  
  .movie-list-item:hover .movie-list-item-img {
    transform: scale(1.1);
    margin: 0 30px;
    opacity: 0.5;
  }
  
  .movie-list-item:hover .movie-list-item-title,
  .movie-list-item:hover .movie-list-item-desc,
  .movie-list-item:hover .movie-list-item-button {
    opacity: 1;
  }
  
  .movie-list-item-img {
    transition: all 1s ease-in-out;
    width: 170px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .movie-list-item-title {
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  
  .movie-list-item-desc {
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  
  .movie-list-item-button {
    padding: 10px;
    background-color: #4dbf00;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 90px;
    bottom: 20px;
    align-items: center;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  
  .arrow {
    font-size: 100px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
  }
  
  .container.active {
    background-color: white;
  }
  
  .movie-list-title.active {
    color: black;
  }
  
  .navbar-container.active {
    background-color: white;
  
    color: black;
  }
  
  .toggle.active{
      background-color: black;
  }
  
  .toggle-ball.active{
      background-color: white;
      transform: translateX(-20px);
  }

